language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-deprecated -Wno-c++98-compat -Wno-missing-prototypes -Wno-exit-time-destructors main.cpp Oscillator.cpp Filter.cpp Amplifier.cpp MonoSynth.cpp SubWoof.cpp && ./a.out"
